.accountContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.accountDetailsContainer {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 40%;
    margin-top: 5rem;   
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

table, tbody, tr, th, td {
    border: 1px solid red;
    border-radius: 5px;
    border-collapse: collapse;
}

table {
    width: 90%;
    height: 25%;
    box-shadow: 2px 4px 8px black;
    padding: 0.15rem;
}

td {
    text-align: center;
}

